<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bgone</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div id="header-container">
        <h2>Bg Gone</h2>
        <p>Remove your pesky image background instantly</p>
      </div>
    </main>
  </body>
</html>
